<div class="card-container">
    <div class="card" style="width: 18rem;">
      <img src={{imageUrl}} class="card-img-top" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Price: {{price}}</p>
       <!-- <div class="ratings">Ratings:{{ratings}} </div>-->
        <button class="btn btn-primary">Add to Cart</button>
        <span class="wishlist-icon">&#x2665;</span>
      </div>
    </div>
  </div>
  